body {
    background: linear-gradient(90deg, #020236 0%, #090979 35%, #00d4ff 100%); /* Adicionei um gradiente de cor */
    margin: 10% 20%; /* Simplifiquei as margens */
    font-family: cursive;
}

@media only screen and (max-width: 600px) {
    body {
        margin-right: 10%;
        margin-left: 10%;
    }
    .voz {
        margin-top: 80px;
    }
    #start-button, #stopButton {
        font-size: 1em;
    }
}


.voz {
    background-color: aliceblue;
    border: groove medium 30px; /* Unifiquei as propriedades de borda */
    width: 80%;
    padding: 20px;
    border-radius: 20px;
    margin-top: 180px;
    margin-left: 9% !important;
}

#start-button, #stopButton {
    width: 20%;
    background-color: blue; /* Cor do botão */
    color: white; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    border-radius: 5px; /* Arredondamento das bordas */
    font-size: 1.2em; /* Tamanho da fonte */
    margin-right: 10px; /* Espaçamento entre os botões */
    transition: background-color 0.2s ease-in; /* Adicionei uma transição */
    
}

#stopButton {
    background-color: red; /* Cor de parar */
}

.output {
    border: 1px solid gray; /* Borda */
    padding: 10px; /* Espaçamento interno */
    margin-top: 10px; /* Espaçamento acima da div */
}

#stopButton.disabled, #start-button:disabled {
    background-color: #ddd; /* Cor do botão desabilitado */
    color: #333; /* Cor do texto */
    cursor: not-allowed; /* cursor */
}

@media (max-width: 768px) {
    #start-button, #stopButton {
      font-size: 1em; /* Tamanho da fonte menor */
      padding: 8px; /* Espaçamento interno menor */
    }
  }
  

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 50px;
    margin-bottom: 10px;
}

footer h3 {
    margin-bottom: 20px;
    color: #fff;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    margin-bottom: 10px;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease-in; /* Adicionei uma transição */
}

footer .text-center {
    margin-top: 20px;
}

#about-me {
    padding: 20px;
}

#about-me h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#about-me p {
    line-height: 1.5;
    margin-bottom: 10px;
}
















/*

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 10%;
    font-family: cursive;
    
    
}

.voz{
    background-color: aliceblue;
    border-style: groove;
    border-width: medium;
    border-right: 30px;
    padding: 20px;
    border-radius: 20px;
    margin-top: 180px;
}

#start-button, #stopButton {
    background-color: blue; /* Cor do botão 
    color: white; /* Cor do texto 
    padding: 10px; /* Espaçamento interno 
    border-radius: 5px; /* Arredondamento das bordas 
    font-size: 1.2em; /* Tamanho da fonte 
    margin-right: 10px; /* Espaçamento entre os botões 
}

#stopButton {
    background-color: red; /* Cor de parar 
}

.output {
    border: 1px solid gray; /* Borda 
    padding: 10px; /* Espaçamento interno 
    margin-top: 10px; /* Espaçamento acima da div 
}


#stopButton.disabled {
    background-color: #ddd; /* Cor do botão desabilitado 
    color: #333; /* Cor do texto 
    cursor: not-allowed; /* cursor 
  }
  
  #start-button:disabled {
    background-color: #ddd; /* Light gray 
    color: #333; /* Dark gray 
    cursor: not-allowed;
  }

  
  footer {
    color: #fff;
    padding: 50px;
    margin-bottom: 10px;
  }
  
  footer h3 {
    margin-bottom: 20px;
    color: #fff;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer li {
    margin-bottom: 10px;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  footer .text-center {
    margin-top: 20px;
  }
  

  */